@page
@model PrivacyModel
@{
    ViewData["Title"] = "How to use this converter";
}
<h1>@ViewData["Title"]</h1>

 <ol>
  <li>Enter the desired sensitivity in [cm/360°]</li>
  <li>Click and scroll down the game your want this sensitivity to be</li>
  <li>Copy or note the result</li>
  <li>Open your game</li>
  <li>Paste or use the slider to match the result (Please note that certain games may not have and precise sensitivity settings, therefore your can only try to set it as close as possible to the result sensitivity)</li>
</ol>